<component name="libraryTable">
  <library name="mybatis-3.4.1">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../libs/mybatis-3.4.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../libs/log4j.jar!/" />
      <root url="jar://$PROJECT_DIR$/../libs/mysql-connector-java-5.1.37-bin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>