# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ExtStudy\spring-cloud-master\Spring-Cloud-Book-Code-2\ch-3\eureka-client-article-service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
