# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\教育网站文章库\代码\编程提高\Java提高\SpringCloud\04.Ribbon负载均衡\spring-rest-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
